modules = ["nodejs-20", "bash", "web", "nix"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "github:1.0.0"]
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
CLOUDINARY_CLOUD_NAME = "dq0qvtbst"
NEXT_PUBLIC_ZASILKOVNA_API_KEY = "40feed3e1efff3f6"
GOPAY_GOID = "8476296202"
GOPAY_CLIENT_ID = "1307637683"
GOPAY_ENVIRONMENT = "production"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME = "dq0qvtbst"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET = "ufosport_unsigned"

[userenv.development]
NEXTAUTH_URL = "https://d4329f7c-472c-4653-9eda-d23198bd0a59-00-20lspgawdahlb.picard.replit.dev"

[userenv.production]
NEXTAUTH_URL = "https://www.ufosport.cz"
