modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33713
externalPort = 8000

[[ports]]
localPort = 33717
externalPort = 5000

[[ports]]
localPort = 34289
externalPort = 5173

[[ports]]
localPort = 35123
externalPort = 4200

[[ports]]
localPort = 37471
externalPort = 8008

[[ports]]
localPort = 38635
externalPort = 8081

[[ports]]
localPort = 41021
externalPort = 6000

[[ports]]
localPort = 41107
externalPort = 3002

[[ports]]
localPort = 43711
externalPort = 8099

[[ports]]
localPort = 43719
externalPort = 3001

[[ports]]
localPort = 44469
externalPort = 3003

[[ports]]
localPort = 45565
externalPort = 3000

[[ports]]
localPort = 46333
externalPort = 6800

[[ports]]
localPort = 46691
externalPort = 9000

[[ports]]
localPort = 46769
externalPort = 8080
