modules = ["nodejs-20", "bash", "web", "python-3.11"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "github:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33713
externalPort = 8000

[[ports]]
localPort = 33717
externalPort = 5000

[[ports]]
localPort = 34289
externalPort = 5173

[[ports]]
localPort = 35123
externalPort = 4200

[[ports]]
localPort = 37471
externalPort = 8008

[[ports]]
localPort = 38635
externalPort = 8081

[[ports]]
localPort = 41021
externalPort = 6000

[[ports]]
localPort = 41107
externalPort = 3002

[[ports]]
localPort = 43711
externalPort = 8099

[[ports]]
localPort = 43719
externalPort = 3001

[[ports]]
localPort = 44469
externalPort = 3003

[[ports]]
localPort = 45565
externalPort = 3000

[[ports]]
localPort = 46333
externalPort = 6800

[[ports]]
localPort = 46691
externalPort = 9000

[[ports]]
localPort = 46769
externalPort = 8080

[userenv]

[userenv.shared]
CLOUDINARY_CLOUD_NAME = "dq0qvtbst"
CLOUDINARY_API_KEY = "596126671243338"
CLOUDINARY_API_SECRET = "-37hpT9LFVDodIVcLf2EKp7meRE"
VERCEL_TOKEN = "9R5ZI3if5AFLglQSBd1lMx05"
NEXTAUTH_SECRET = "ufo-sport-secret-key-32-chars-min!"
NEXTAUTH_URL = "https://cink-sable.vercel.app"
RESEND_API_KEY = "re_Hxzi2bjv_LpdCUjYTGdm17zPnXu5J8gUP"
ZASILKOVNA_API_KEY = "40feed3e1efff3f6"
PACKETA_API_PASSWORD = "40feed3e1efff3f6"
NEXT_PUBLIC_ZASILKOVNA_API_KEY = "40feed3e1efff3f6"
GOPAY_GOID = "8600284220"
GOPAY_CLIENT_ID = "1581106802"
GOPAY_CLIENT_SECRET = "yNW7rtRe"
GOPAY_ENVIRONMENT = "test"

[userenv.development]
