@import url(https://db.onlinewebfonts.com/c/48f1766ca457e77c058f6c1889734588?family=Utah+WGL+Condensed+W10+Bold);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 16px;
  color: #000000;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #000000;
  border-width: 2px;
}

h1 {
  font-family: "Utah WGL Condensed W10 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h5, h6 {
  font-weight: 400;
  letter-spacing: -0.01em;
}

h2 {
  font-family: 'BB-CondBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0.42px;
  word-spacing: 0px;
  font-variant-ligatures: normal;
}

h3 {
  font-family: 'BB-CondBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0.42px;
  word-spacing: 0px;
  font-variant-ligatures: normal;
}

h4 {
  font-family: 'BB-CondBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 24.2px;
  letter-spacing: 1.1px;
  word-spacing: 0px;
  font-variant-ligatures: normal;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes pulse-color {
  0%, 100% {
    color: #1a1a1a;
  }
  50% {
    color: #f5f5f5;
  }
}

.animate-pulse-color {
  animation: pulse-color 1s ease-in-out infinite;
}
